.categoria-container {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  
  .categoria-badge {
    background-color: white;
    border: 1px solid lightgreen;
    border-radius: 15px;
    padding: 5px 10px;
    color: black;
    text-align: center;
  }